<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <title>侧栏开发</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/celan.css" rel="stylesheet">
</head>

<body>

  <div class="toolbar">
    <a href="javascript:;" class="toolbar-item toolbar-item-weixin">
      <span class="toolbar-layer"></span>
    </a>
    <a href="javascript:;" class="toolbar-item toolbar-item-feedback"></a>
    <a href="javascript:;" class="toolbar-item toolbar-item-app">
      <span class="toolbar-layer"></span>
    </a>
    <a href="javascript:;" class="toolbar-item toolbar-item-top"></a>
  </div>

</body>

</html>