<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>

<body>
	<form>
		<div>
			<label for="phone">手机号</label>
			<input type="text" name="number" value="" placeholder="请填入手机号" id="phone" required>
		</div>
		</br>
		<div>
			<label for="namea">标题</label>
			<input type="text" name="number" value="" placeholder="请填入手机号" id="namea">
		</div>
		<div>
			<input type="submit" name="number" value="确定" id="namea">
		</div>
	</form>

	</br>
	<div id="temp">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur porro nobis quidem quasi voluptas assumenda deleniti
			doloremque at corrupti, quod culpa veritatis atque. Accusamus blanditiis nostrum atque animi praesentium assumenda!
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit distinctio cumque id a, deleniti, expedita numquam dicta voluptas excepturi voluptate quo culpa non, quam earum animi obcaecati aspernatur officiis omnis. Quas, ex quasi distinctio obcaecati laudantium nostrum recusandae ratione. Asperiores minima omnis, ut architecto nam expedita velit eligendi pariatur doloremque, maxime facere vel aliquid nobis dicta. Laudantium vel laborum pariatur saepe, quo, tempore fugiat enim minima autem aut nisi dolorum molestias distinctio cum nemo accusantium dolore laboriosam culpa? Veniam aut rem nulla, architecto libero soluta accusamus illum harum porro. Odio soluta ut, amet eaque rem id alias vel dolore illo.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit distinctio cumque id a, deleniti, expedita numquam dicta voluptas excepturi voluptate quo culpa non, quam earum animi obcaecati aspernatur officiis omnis. Quas, ex quasi distinctio obcaecati laudantium nostrum recusandae ratione. Asperiores minima omnis, ut architecto nam expedita velit eligendi pariatur doloremque, maxime facere vel aliquid nobis dicta. Laudantium vel laborum pariatur saepe, quo, tempore fugiat enim minima autem aut nisi dolorum molestias distinctio cum nemo accusantium dolore laboriosam culpa? Veniam aut rem nulla, architecto libero soluta accusamus illum harum porro. Odio soluta ut, amet eaque rem id alias vel dolore illo.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit distinctio cumque id a, deleniti, expedita numquam dicta voluptas excepturi voluptate quo culpa non, quam earum animi obcaecati aspernatur officiis omnis. Quas, ex quasi distinctio obcaecati laudantium nostrum recusandae ratione. Asperiores minima omnis, ut architecto nam expedita velit eligendi pariatur doloremque, maxime facere vel aliquid nobis dicta. Laudantium vel laborum pariatur saepe, quo, tempore fugiat enim minima autem aut nisi dolorum molestias distinctio cum nemo accusantium dolore laboriosam culpa? Veniam aut rem nulla, architecto libero soluta accusamus illum harum porro. Odio soluta ut, amet eaque rem id alias vel dolore illo.
		</p>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit distinctio cumque id a, deleniti, expedita numquam dicta voluptas excepturi voluptate quo culpa non, quam earum animi obcaecati aspernatur officiis omnis. Quas, ex quasi distinctio obcaecati laudantium nostrum recusandae ratione. Asperiores minima omnis, ut architecto nam expedita velit eligendi pariatur doloremque, maxime facere vel aliquid nobis dicta. Laudantium vel laborum pariatur saepe, quo, tempore fugiat enim minima autem aut nisi dolorum molestias distinctio cum nemo accusantium dolore laboriosam culpa? Veniam aut rem nulla, architecto libero soluta accusamus illum harum porro. Odio soluta ut, amet eaque rem id alias vel dolore illo.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit distinctio cumque id a, deleniti, expedita numquam dicta voluptas excepturi voluptate quo culpa non, quam earum animi obcaecati aspernatur officiis omnis. Quas, ex quasi distinctio obcaecati laudantium nostrum recusandae ratione. Asperiores minima omnis, ut architecto nam expedita velit eligendi pariatur doloremque, maxime facere vel aliquid nobis dicta. Laudantium vel laborum pariatur saepe, quo, tempore fugiat enim minima autem aut nisi dolorum molestias distinctio cum nemo accusantium dolore laboriosam culpa? Veniam aut rem nulla, architecto libero soluta accusamus illum harum porro. Odio soluta ut, amet eaque rem id alias vel dolore illo.
		</p>
	</div>
	<script src="js/re.js"></script>
</body>

</html>